My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1XyVWxLCiA_EiPrZ90yW56lluCQy8jZ32F3GLUJclR_E",
          "mode": "list",
          "cachedResultName": "Calendario de Contenido CIAP_test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XyVWxLCiA_EiPrZ90yW56lluCQy8jZ32F3GLUJclR_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XyVWxLCiA_EiPrZ90yW56lluCQy8jZ32F3GLUJclR_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "=1",
            "TEXTO LINKEDIN": "={{ $json.output.output_linkedin }}",
            "row_number": 0,
            "TEXTO INSTAGRAM": "={{ $json.output.output_instagram }}",
            "ESTADO": "=Post Creado",
            "TEMA": "={{ $('Telegram Trigger').item.json.message.text }}",
            "DESCRIPCION": "={{ $('Telegram Trigger').item.json.message.text }}",
            "ID_USUARIO": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "USUARIO": "={{ $('Telegram Trigger').item.json.message.from.username }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_USUARIO",
              "displayName": "ID_USUARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "USUARIO",
              "displayName": "USUARIO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEMA",
              "displayName": "TEMA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DESCRIPCION",
              "displayName": "DESCRIPCION",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ESTADO",
              "displayName": "ESTADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TEXTO LINKEDIN",
              "displayName": "TEXTO LINKEDIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEXTO INSTAGRAM",
              "displayName": "TEXTO INSTAGRAM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "72062ce6-0c1d-45bc-922e-1b72dcf9e17c",
      "name": "Actualización datos POSTS LinkedIn/Instagram",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oVQnr41djWo08mMK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1XyVWxLCiA_EiPrZ90yW56lluCQy8jZ32F3GLUJclR_E",
          "mode": "list",
          "cachedResultName": "Calendario de Contenido CIAP_test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XyVWxLCiA_EiPrZ90yW56lluCQy8jZ32F3GLUJclR_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XyVWxLCiA_EiPrZ90yW56lluCQy8jZ32F3GLUJclR_E/edit#gid=0"
        },
        "options": {}
      },
      "id": "dfaa9d42-472d-49bb-887a-fc6a77a6240d",
      "name": "Activador cambios en Google Sheets",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        1104,
        240
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "jlfaeBXbivqMyDqp",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.ESTADO }}",
              "rightValue": "Generar Borrador",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2f7fc807-ede6-4867-9b42-f34586c100d6",
      "name": "Evalua Estado igual a Generar Borrador",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        240
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output_linkedin\": { \"type\": \"string\" },\n    \"output_instagram\": { \"type\": \"string\" }\n  },\n  \"required\": [\"output_linkedin\", \"output_instagram\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1600,
        336
      ],
      "id": "18c48a19-8bc7-4211-938b-c59c61e46b09",
      "name": "Estructura JSON de salida"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-09-2025",
        "options": {}
      },
      "id": "1ed5d4c8-46d0-4bba-881f-5326fc8e2cba",
      "name": "Generador Posts",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1472,
        352
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "T4mRGhHBAIAN4JV1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.caption}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ya me funciono pero me sale así el post: \"Productividad con IA\nEstimada comunidad profesional y académica,\\n\\nEl Club de Inteligencia Artificial Politécnico \\(CIAP\\) reafirma su compromiso con la vanguardia tecnológica, presentando los resultados de nuestra iniciativa reciente enfocada en la optimización de procesos mediante IA. Nuestros miembros han desarrollado modelos predictivos y automatizaciones inteligentes que demuestran una mejora significativa en la eficiencia operativa y la toma de decisiones basada en datos.\\n\\nEste logro no solo subraya la calidad del talento formado en nuestras filas, sino que también establece nuevos estándares en la aplicación práctica de Machine Learning para la productividad empresarial. En el CIAP, convertimos el conocimiento teórico en soluciones tangibles de alto impacto.\\n\\nAgradecemos el respaldo de la Escuela Superior Politécnica del Litoral - ESPOL por ser el epicentro de esta formación de excelencia que impulsa la innovación en el país.\\n\\n\\n\\n\\n#CIAP hashtag#ESPOL hashtag#InteligenciaArtificial hashtag#MachineLearning hashtag#Innovacion hashtag#TalentoTech hashtag#Ecuador hashtag#ProductividadIA hashtag#Automatizacion hashtag#DataScience\" con los \"/n\" y demas codigos especiales pero no quiero eso. Asi tengo el prompt: \"Eres el administrador de la página oficial del Club de Inteligencia Artificial Politécnico (CIAP) de ESPOL.\nAudiencia: profesionales, académicos, reclutadores, empresas de tecnología y comunidad universitaria.\nTono: profesional, informativo, centrado en valor, logros y desarrollo de talento.\n\nTarea: genera dos textos: uno para LinkedIn y otro para Instagram usando el tema y la descripción dados. Objetivo: fortalecer la reputación del CIAP y de ESPOL como cuna de talento en IA.\n\nRequisitos del contenido:\n\nApertura profesional.\n\nContexto (habilidades demostradas, desafío/objetivo).\n\nImpacto y valor.\n\nMención institucional a ESPOL - Escuela Superior Politécnica del Litoral.\n\nHashtags: corporativos #CIAP #ESPOL #InteligenciaArtificial #MachineLearning #Innovacion #TalentoTech #Ecuador + 3 hashtags específicos del tema.\n\nLuego del contenido, deja un espacio de 3 lineas para abajo y ahí colocas los Hashtags para que no se vean muy unidos con el contenido del post. \n\nNo incluyas encabezados ni markdown. No expliques nada. Solo devuelve el JSON.\n\nFormato de salida OBLIGATORIO (sin backticks, sin texto extra):\n{\"output_linkedin\": \"...\", \"output_instagram\": \"...\"}\"\n\n"
        }
      },
      "id": "df20c7b0-91ab-4c5f-9ad2-dc4ac7955fbb",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1504,
        80
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-09-2025",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1648,
        480
      ],
      "id": "12643b92-39cf-4e3f-9f1c-253f7c9af8c2",
      "name": "Formato JSON salida",
      "credentials": {
        "googlePalmApi": {
          "id": "T4mRGhHBAIAN4JV1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a9324db-1eae-4d90-aede-27a89f88d4dc",
              "name": "output.output_linkedin",
              "value": "={{ \n  $json.output.output_linkedin\n    .replace(/\\\\n/g, '\\n')           // convierte \\n en saltos reales\n    .replace(/\\\\\\(/g, '(')           // quita el escape de (\n    .replace(/\\\\\\)/g, ')')           // quita el escape de )\n    .replace(/hashtag#/g, '#')       // cambia hashtag# por #\n}}\n",
              "type": "string"
            },
            {
              "id": "f85c5676-8d94-4f93-aedf-d0d7028fe469",
              "name": "output.output_instagram",
              "value": "={{ \n  $json.output.output_instagram\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\\\\\(/g, '(')\n    .replace(/\\\\\\)/g, ')')\n    .replace(/hashtag#/g, '#')\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        128
      ],
      "id": "557f5334-7ea2-4fd1-85a1-298d4925ae79",
      "name": "Post Formateado"
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "109777536",
        "text": "={{ $json.texto }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "ciap",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2640,
        240
      ],
      "id": "528e3c8f-380f-4b64-a56b-0fe2a8063b71",
      "name": "Publicación en LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "jG6nIDWe3CurYSVi",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        416,
        336
      ],
      "id": "f5dbb134-2209-4944-b7ae-69962f4d4914",
      "name": "Telegram Trigger",
      "webhookId": "5f645c3b-bdc8-45b9-8d01-5cd855da2e0c",
      "credentials": {
        "telegramApi": {
          "id": "IwZ3DOu4t8AyfPa1",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "eccca83b-f688-4849-b94b-921e00d74f5e",
              "leftValue": "={{ $json.message.photo}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        528
      ],
      "id": "4813b3cc-d573-4532-b9a6-9a3e8ed54e26",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8405706385:AAELtlNveFXGtQxK955jx9W00xH4ngsrtJE/getFile?file_id={{ $json.message.photo.slice(-1)[0].file_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        528
      ],
      "id": "b036ada3-c828-4392-bd17-ef9d1618e62d",
      "name": "Obtenerfoto"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8405706385:AAELtlNveFXGtQxK955jx9W00xH4ngsrtJE/{{ $node[\"Obtenerfoto\"].json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "imagen"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        544
      ],
      "id": "b27736f4-0511-4d4b-b579-1186a6febef8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "18V4XUfeT3gv-WAsW3ZtqhmM6Ko7Idxuf",
          "mode": "list",
          "cachedResultName": "banner_ciap_2.jpeg",
          "cachedResultUrl": "https://drive.google.com/file/d/18V4XUfeT3gv-WAsW3ZtqhmM6Ko7Idxuf/view?usp=drivesdk"
        },
        "options": {
          "binaryPropertyName": "ciap"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        784
      ],
      "id": "dde41051-e303-42dc-a155-1b6fe14add8e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Yw3j5FadIfOSwDXv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "multiStep",
        "dataPropertyName": "imagen",
        "operations": {
          "operations": [
            {
              "operation": "composite",
              "dataPropertyNameComposite": "imagen",
              "operator": "Out"
            },
            {
              "operation": "resize",
              "width": 1280,
              "height": 478,
              "resizeOption": "ignoreAspectRatio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1440,
        544
      ],
      "id": "377a89d0-4c48-43a7-b47b-aed9486ca247",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2208,
        656
      ],
      "id": "7c363384-5ef2-4a87-abd1-e00a21d9ba1e",
      "name": "Merge",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "composite",
        "dataPropertyName": "ciap",
        "dataPropertyNameComposite": "imagen",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2448,
        672
      ],
      "id": "bfdec265-0c02-4864-84fb-f316685cc161",
      "name": "Edit Image2"
    },
    {
      "parameters": {
        "operation": "composite",
        "dataPropertyName": "ciap",
        "dataPropertyNameComposite": "ciap",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1408,
        784
      ],
      "id": "05baf89b-32df-4a39-bc15-70d7fcd83286",
      "name": "Edit Image1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8fcf2d5-022f-4211-8a16-390f229722e7",
              "leftValue": "{{ $json.message.caption}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        144
      ],
      "id": "a5285fc4-672f-49cb-94c6-a8985024e0c1",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2256,
        224
      ],
      "id": "5f7c4237-5b0e-42ab-bc5d-980f3f5f45b8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e2afeb4-c3f2-4b8d-bbfa-4cec6190b55c",
              "name": "ciap",
              "value": "ciap",
              "type": "binary"
            },
            {
              "id": "7a4dc8b6-f262-4b21-a4ca-f8feb2402aa9",
              "name": "texto",
              "value": "={{ $json['TEXTO LINKEDIN'] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        224
      ],
      "id": "628c712f-24bf-4e10-b8fa-631f74d913b4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Activador cambios en Google Sheets": {
      "main": [
        [
          {
            "node": "Evalua Estado igual a Generar Borrador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evalua Estado igual a Generar Borrador": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructura JSON de salida": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generador Posts": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Post Formateado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formato JSON salida": {
      "ai_languageModel": [
        [
          {
            "node": "Estructura JSON de salida",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Actualización datos POSTS LinkedIn/Instagram": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Formateado": {
      "main": [
        [
          {
            "node": "Actualización datos POSTS LinkedIn/Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Obtenerfoto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtenerfoto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Publicación en LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2adc08b8-2b10-49ce-b555-4d4d15e287d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e46263833012b3712c194c0d00db60a07e5b3277219f7fd12055bf7e92247c7"
  },
  "id": "GdFA7zDMkbIF5XTr",
  "tags": []
}